- title "Adhearsion Conf 2011"

%p The second AdhearsionConf will be held in San Francisco on the weekend of October 8-9, 2011.

%p Ben Klang, Ben Langfeld and Jason Goecke, the team behind Adhearsion, will all be on hand for two days of talks, knowledge sharing and even some pair programming on all things Ruby and Telephony. There will also be presentations from members of the Adhearsion community on interesting Adhearsion deployments, Adhearsion at scale, and more. Finally, there will be an exciting announcement that promises to take Ruby Telephony far beyond its current state.

%p Thanks to our sponsor <a href="http://tropo.com">Tropo</a> we will enjoy the cozy spaces of NextSpace SF, as well as bagels and coffee each morning.

%p Thanks to our sponsor <a href="http://bluevia.com">BlueVia</a> those who are unable to attend AdhearsionConf in person may tune into our live video stream.  Watch this space for details on accessing the stream.

%h2 Who should attend AdhearsionConf 2011?
%ul
  %li Ruby developers who are already using Adhearsion
  %li Asterisk or FreeSWITCH users who need to create sophisticated functionality
  %li Telephony developers who are sure there MUST be a better way than all that XML...
  %li Web 2.0 developer who would like to better understand how they can use Adhearsion and Ruby to open up their applications to a whole new audience and style of interaction.

%p
  %a{:href => '#register'} Register Now

%h2 What's happening?

%div{:class => 'overlay', :id => 'presentation-saturdaykeynote'}
  %h3{:class => 'title'} Welcome to AdhearsionConf / Opening Keynote
  %a{:class => 'speakr8', :href => 'http://spkr8.com/t/8603'} Rate this talk
  %p{:class => 'presenter'} Ben Klang, Mojo Lingo
  %p{:class => 'description'}
  %p{:class => 'presenter-bio'} Ben Klang has more than a decade of experience in diverse technology disciplines such as telephony, system administration, networking and security. As the founder and Technology Strategist at Mojo Lingo, an Atlanta firm specializing in telephony application development, he helps bring Adhearsion and Voice applications to clients all around the world.  He is also the current project leader for Adhearsion and contributes to many other open source efforts. His interests include hacking competitions, information security, making phones do unexpected things, playing music loudly and asking lots of questions.
%div{:class => 'overlay', :id => 'presentation-ifbyphone'}
  %h3{:class => 'title'} Developing Phone Survey Apps
  %a{:class => 'speakr8', :href => 'http://spkr8.com/t/8594'} Rate this talk
  %p{:class => 'presenter'} Stephen George
  %p{:class => 'description'} What if you could run database-driven surveys that talked to your users? Ifbyphone was able to do just that with the help of Adhearsion and Mojo Lingo. Stephen George of Ifbyphone will discuss how easily Adhearsion lends itself to developing a robust survey phone application.
  %p{:class => 'presenter-bio'} Stephen George is a Senior Software Developer at Ifbyphone in Chicago. When he's not making funky phone apps in Adhearsion, he's probably playing fetch with his chocolate labrador or playing air guitar with his headphones on.
%div{:class => 'overlay', :id => 'presentation-shopify'}
  %h3{:class => 'title'} Shopify <3 Adhearsion
  %a{:class => 'speakr8', :href => 'http://spkr8.com/t/8593'} Rate this talk
  %p{:class => 'presenter'} Daniel Beauchamp & Jonathan Rudenberg, Shopify
  %p{:class => 'description'}
    At Shopify, we have 16,000 stores and we handle all sales and support calls in house. We needed a fast, flexible and reliable way of handling these calls, and none of the applications we found met our needs. So we did what any good geek would do: we rolled our own.

    Adhearsion made this possible. It simplified the onerous task of building an Asterisk-based app. Within less than a month, we had a functional app used in production by all of our agents, serving real customers. Along with showing callers, queue stats, and agent statuses, our "Q" app also displays information about customers and their shops; allowing agents to better serve them. Not bad for a team of two!
    %br
    Our presentation will start with a demo of "Q", and an overview of the Adhearsion components that it uses. We'll talk about the technologies that we also used, namely websockets, and the Sinatra and Batman.js frameworks (http://batmanjs.org/). Finally, we'll show the audience how easy it is to make a simple app using Adhearsion and Batman.js.
  %p{:class => 'presenter-bio'}
    Jonathan Rudenberg has always been fascinated with programming physical things. He has been using Adhearsion since 2008, and started learning Asterisk in 2006. Jonathan currently spends his time writing Internal Tools at Shopify.
    %br
    Daniel Beauchamp is an Internal Tools developer at Shopify, and makes sure that the team has amazing apps to use. "Q" is his personal favourite, because there's nothing cooler than instantly triggering javascript on screen when you pick up a phone.
%div{:class => 'overlay', :id => 'presentation-hackfest'}
  %h3{:class => 'title'} Adhearsion HackFest / Pairing Sessions
  %p{:class => 'presenter'} Everyone
  %p{:class => 'description'} Come work on your favorite pet project, or just ask questions of the Adhearsion team.  Adhearsion contributors and others from the community will be available to pair on a tricky voice problem, demo some cool feature of Adhearsion, or share knowledge on building voice applications in general.
  %p{:class => 'presenter-bio'}
%div{:class => 'overlay', :id => 'presentation-digium'}
  %h3{:class => 'title'} Asterisk 10 for Developers
  %a{:class => 'speakr8', :href => 'http://spkr8.com/t/8604'} Rate this talk
  %p{:class => 'presenter'} Steve Sokol, Digium
  %p{:class => 'description'} 
    Review of the cool new things in Asterisk 10 with focus on features useful for voice application developers.  Digium wants your feedback!  We will discuss what the community wants and needs for Asterisk 11.
  %p{:class => 'presenter-bio'}
    Steven Sokol is the Asterisk Marketing Director at Digium. He joined the firm in the summer of 2007 when his company, Sokol & Associates, was acquired. While at Sokol & Associates he developed and marketed the Asterisk Bootcamp, a highly successful training program for Asterisk users and administrators and managed a staff of Asterisk consultants and contract developers. In 2004 Sokol & Associates and Edvina AB partnered to launch AstriCon, the annual Asterisk conference and exhibition. Prior to discovering Asterisk, Sokol architected and managed the development of e-IVR, a voice processing platform and provided communications consulting services. Mr. Sokol has a bachelor of arts degree from Westminster College in Fulton, MO. He lives in Tulsa, Oklahoma with his wife Amy and daughter Katie.
%div{:class => 'overlay', :id => 'presentation-tropo'}
  %h3{:class => 'title'} Telephony in the Cloud
  %a{:class => 'speakr8', :href => 'http://spkr8.com/t/8605'} Rate this talk
  %p{:class => 'presenter'} Jason Goecke, Voxeo Labs
  %p{:class => 'description'}
  %p{:class => 'presenter-bio'} Jason Goecke has an extensive background in telephony and call center related technologies. His unique perspective comes from the combination of broad commercial experience around the world coupled with an exceptional technical depth in many technology disciplines. Jason was an early Adhearsion community member that went on to form a commercial venture with Adhearsion's creator, Jay Phillips, that was subsequently acquired by Voxeo. Jason is currently the VP of Innovation at Voxeo Labs, where he is responsible for the team building next generation realtime platforms such as Tropo.com, Phono.com and SMSified.com. Voxeo Labs also maintains an active role and sponsorship in the Adhearsion project. Jason has returned to the Silicon Valley after living in Europe over a period of 10 years.
%div{:class => 'overlay', :id => 'presentation-bluevia'}
  %h3{:class => 'title'} Introduction to connFu
  %a{:class => 'speakr8', :href => 'http://spkr8.com/t/8605'} Rate this talk
  %p{:class => 'presenter'} Paul Golding, O2 Labs
  %p{:class => 'description'} Learn about BlueVia's newest service for voice and mobile application developers: connFu. Code Less. Connect More.
  %p{:class => 'presenter-bio'} Paul Golding is connFu Master at The Lab, part of O2, Telefónica and Jahjah.
%div{:class => 'overlay', :id => 'presentation-dinner'}
  %h3{:class => 'title'} Food & Drink
  %p{:class => 'presenter'}
  %p{:class => 'description'} AdhearsionConf food & drink sponsored by Digium, The Asterisk Company.  Heavy hors d'oeuvres will be served.
  %p{:class => 'presenter-bio'}
%div{:class => 'overlay', :id => 'presentation-sundaykeynote'}
  %h3{:class => 'title'} Sunday Keynote
  %p{:class => 'presenter'} Jason Goecke, Voxeo Labs
  %p{:class => 'description'}
  %p{:class => 'presenter-bio'}
%div{:class => 'overlay', :id => 'presentation-testingtelephony'}
  %h3{:class => 'title'} Testing Telephony: It's Not All Terrible
  %a{:class => 'speakr8', :href => 'http://spkr8.com/t/8592'} Rate this talk
  %p{:class => 'presenter'} Ben Langfeld, Adhearsion Core Team
  %p{:class => 'description'} Many telephony applications are poorly tested, and rarely is the media portion (the actual phone call) tested in any automated fashion. This leads to long QA sessions, heartache, and undiscovered regressions on every iteration. But we're Ruby developers (most of us!); how do we live with ourselves? As these applications become more and more complex, the situation is only going to get worse. Thankfully, we have almost everything we need to build fully automated test suites running complex assertions on voice interactions. Let's take a look at how we might begin to do this and redeem ourselves.
  
  %p{:class => 'presenter-bio'} A recovering Physics graduate, Ben now spends approximately 25 hours per day slinging Ruby and is enjoying it a lot more than quantum field theory. Writing voice applications is a perfect fit for him, not least as a result of his addiction to talking. That this can be directed towards a robot can only make the world a better place.
%div{:class => 'overlay', :id => 'presentation-weaponizing'}
  %h3{:class => 'title'} Weaponizing the Cloud: Wardialing with Adhearsion
  %a{:class => 'speakr8', :href => 'http://spkr8.com/t/8591'} Rate this talk
  %p{:class => 'presenter'} Nathaniel Barnes, Department of Defense
  %p{:class => 'description'} With every advance in technology, people have found a way to use it to the detriment of others, which is why we spend so much time and effort focused on securing our servers and our applications. Developments in telephony are no exception to this idiom, and we'll discuss how we've integrated some of these into a next generation, open source wardialer. We'll also discuss some of the technical challenges involved, the dangers associated with this approach, and how you can perform penetration testing for your organization using these tools.
  %p{:class => 'presenter-bio'} Nathaniel Barnes is a long time developer, using different technologies and languages to adapt to the problem du jour. A Ruby convert, he's been an evangelist for open source in general and Ruby in particular in his chosen industry. He is currently a Department of Defense contractor and has been working in the intelligence community for nearly a decade.
%div{:class => 'overlay', :id => 'presentation-lightning'}
  %h3{:class => 'title'} Lightning Talks
  %p{:class => 'presenter'}
  %p{:class => 'description'} Got an idea?  Something to share, but not enough for a full session? This is your chance to show your stuff among your peers.  Signups will be open throughout the conference.
  %p{:class => 'presenter-bio'} YOU!
%div{:class => 'overlay', :id => 'presentation-roadmap'}
  %h3{:class => 'title'} Adhearsion Roadmap: 2.0 and Beyond
  %p{:class => 'presenter'} Ben Klang and Ben Langfeld
  %p{:class => 'description'} We will discuss Adhearsions future as a project: upcoming features, organizational evolution and technology prognostication.
  %p{:class => 'presenter-bio'}
%div{:class => 'overlay', :id => 'venue-map'}
  %h3{:class => 'title'} Map
  %div{:class => 'map', :align => 'center'} 
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?saddr=Next+Space+Coworking+San+Francisco&amp;daddr=114+Powell+Street,+San+Francisco,+CA+94102+(Hotel+Union+Square)&amp;hl=en&amp;sll=37.787369,-122.404025&amp;sspn=0.00942,0.012993&amp;geocode=FdScQAIdi060-CEbvIzsPIidGin1zmGcYoCFgDFqixSI46bkGQ%3BFaqQQAIdAzW0-Ckf2ThQj4CFgDGGVQsRNlqsdA&amp;vpsrc=6&amp;dirflg=w&amp;mra=ltm&amp;t=m&amp;ie=UTF8&amp;source=embed&amp;ll=37.794084,-122.412415&amp;spn=0.011869,0.018239&amp;z=15&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?saddr=Next+Space+Coworking+San+Francisco&amp;daddr=114+Powell+Street,+San+Francisco,+CA+94102+(Hotel+Union+Square)&amp;hl=en&amp;sll=37.787369,-122.404025&amp;sspn=0.00942,0.012993&amp;geocode=FdScQAIdi060-CEbvIzsPIidGin1zmGcYoCFgDFqixSI46bkGQ%3BFaqQQAIdAzW0-Ckf2ThQj4CFgDGGVQsRNlqsdA&amp;vpsrc=6&amp;dirflg=w&amp;mra=ltm&amp;t=m&amp;ie=UTF8&amp;source=embed&amp;ll=37.794084,-122.412415&amp;spn=0.011869,0.018239&amp;z=15" style="color:#0000FF;text-align:left">View Larger Map</a></small>

%h3 Saturday 8th
%table.schedule
  %thead
    %tr
      %th Time
      %th What
      %th Who
  %tr
    %td 9:00
    %td Registration, Coffee & Bagels
    %td
  %tr
    %td 9:45
    %td{:class => 'presentation-link', :rel => '#presentation-saturdaykeynote'} Welcome & Keynote address
    %td{:class => 'presentation-link', :rel => '#presentation-saturdaykeynote'} Ben Klang, Project lead & Founder, Mojo Lingo
  %tr
    %td 10:45
    %td{:class => 'presentation-link', :rel => '#presentation-ifbyphone'} Developing Survey Phone Apps
    %td{:class => 'presentation-link', :rel => '#presentation-ifbyphone'} Stephen George, IfByPhone
  %tr
    %td 11:30
    %td Short break
    %td
  %tr
    %td 11:45
    %td{:class => 'presentation-link', :rel => '#presentation-shopify'} Shopify <3 Adhearsion
    %td{:class => 'presentation-link', :rel => '#presentation-shopify'} Daniel Beauchamp & Jonathan Rudenberg, Shopify
  %tr
    %td 12:30
    %td Lunch
    %td
  %tr
    %td 14:00
    %td{:class => 'presentation-link', :rel => '#presentation-tropo'} Telephony in the cloud
    %td{:class => 'presentation-link', :rel => '#presentation-tropo'} Jason Goecke, Voxeo Labs
  %tr
    %td 14:45
    %td{:class => 'presentation-link', :rel => '#presentation-bluevia'} Intro to ConnFu
    %td{:class => 'presentation-link', :rel => '#presentation-bluevia'} Paul Golding, O2 Labs
  %tr
    %td 15:00
    %td{:class => 'presentation-link', :rel => '#presentation-hackfest'} Adhearsion Hackfest / Pairing Sessions
    %td{:class => 'presentation-link', :rel => '#presentation-hackfest'} Everyone
  %tr
    %td 17:00
    %td{:class => 'presentation-link', :rel => '#presentation-digium'} Asterisk 10 for Developers
    %td{:class => 'presentation-link', :rel => '#presentation-digium'} Steve Sokol, Digium
  %tr
    %td 18:00 - 21:00
    %td{:class => 'presentation-link', :rel => '#presentation-dinner'} AhnConf Food & Drink
    %td Thirsty Bear Brewing Company

%h3 Sunday 9th
%table.schedule
  %thead
    %tr
      %th Time
      %th What
      %th Who
  %tr
    %td 9:00
    %td Coffee & Bagels
    %td
  %tr
    %td 9:45
    %td{:class => 'presentation-link', :rel => '#presentation-sundaykeynote'} Sunday Keynote
    %td{:class => 'presentation-link', :rel => '#presentation-sundaykeynote'} Jason Goecke
  %tr
    %td 10:30
    %td{:class => 'presentation-link', :rel => '#presentation-testingtelephony'} Testing Telephony - It's not all Terrible
    %td{:class => 'presentation-link', :rel => '#presentation-testingtelephony'} Ben Langfeld
  %tr
    %td 11:15
    %td Short break
    %td
  %tr
    %td 11:30
    %td{:class => 'presentation-link', :rel => '#presentation-weaponizing'} Weaponizing the Cloud: Wardialing with Adhearsion
    %td{:class => 'presentation-link', :rel => '#presentation-weaponizing'} Nathaniel Barnes, Department of Defense
  %tr
    %td 12:15
    %td Lunch
    %td
  %tr
    %td 13:45
    %td{:class => 'presentation-link', :rel => '#presentation-lightning'} Lightning talks
    %td{:class => 'presentation-link', :rel => '#presentation-lightning'} Everyone
  %tr
    %td 14:30
    %td{:class => 'presentation-link', :rel => '#presentation-roadmap'} Roadmap discussion
    %td{:class => 'presentation-link', :rel => '#presentation-roadmap'} Ben Klang, Ben Langfeld
  %tr
    %td 15:15 - 15:30
    %td Goodbye
    %td Ben Klang

%h2 How do I register?
%p
  Just
  %a{:href => 'http://www.eventbrite.com/event/1762530777'} click here
  to register for free and save your place.

%h2 Where will I stay?
%p
  Many conference attendees will be staying at the
  %a{:href => 'http://www.hotelunionsquare.com'} Hotel Union Square
  \. It's a
  %a{:href => '#venue-map', :style => 'font-weight:bold', :rel => '#venue-map'} short walk
  away from our conference venue and across from San Francisco's famous Union Square.  Our special conference rate has expired and rooms are filling up so get your room soon!

%h2 Thanks to our sponsors
%div{:class => 'sponsors'}
  %div{:class => 'upperSponsors'}
    %div{:class => 'left'}
      %a{:href => 'http://www.tropo.com'}
        = image_tag 'tropo.png', :class => 'sponsor_img'
    %div{:class => 'right'}
      %a{:href => 'http://mojolingo.com'}
        = image_tag 'mojo.png', :class => 'sponsor_img'
  %div{:class => 'lowerSponsors'}
    %div{:class => 'small'}
      %a{:href => 'http://www.digium.com'}
        = image_tag 'digium.png', :class => 'sponsor_img'
    %div{:class => 'large'}
      %a{:href => 'http://public.ifbyphone.com/'}
        = image_tag 'byphone.png', :class => 'sponsor_img'
    %div{:class => 'small2'}
      %a{:href => 'http://bluevia.com'}
        = image_tag 'bluevia.png', :class => 'sponsor_img'

%script{:type => 'text/javascript'}
  $("td[rel]").overlay();
  $("a[rel]").overlay();
