%html
  %head
    %title
      Adhearsion:
      = yield_content(:title) || ''

    = stylesheet_link_tag "theme/ui.all", "jquery.prettyPhoto", "jquery.bubbletip", "style", "style-pink", "style-enhance", "ansi2html", "terminal", 'shCore', 'shThemeDefault'

    :css
      {{ pygments['pastie.css'] }}
      .syntaxhighlighter code {
        display: inline;
      }

    %link{:rel => "stylesheet", :href => "/fonts/Inconsolata.ttf"}
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}

    %meta{:'http-equiv' => "content-type", :content => "text/html; charset=utf-8"}
    %meta{:name => "description", :content => "description"}
    %meta{:name => "keywords", :content => "keywords"}
    %meta{:name => "author", :content => "author"}
    %meta{:name => "copyright", :content => "&copy; 2011 Bogdan Rosu. All rights reserved."}

    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js', 'http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js', 'jquery.easing.js', 'jquery.css-transform.js', 'jquery.css-rotate-scale.js', 'cufon.js', 'fonts/arials.font.js', 'fonts/ptsans.font.js', 'fonts/gnuolane.font.js', 'fonts/yanone.font.js', 'http://www.bogdanrosu.com/temp/fonts/zurich.font.js', 'jquery.prettyPhoto.js', 'jquery.captify.js', 'jquery.bubbletip.js', 'browserdetect.js', 'roundies.js', 'jquery.tweet.js', 'custom.js', 'jquery.timeago.js', "shCore.js", "shAutoloader.js", "shBrushRuby.js"

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22818641-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    .top
      .full-width.rel
        .one-third
          .logo
            %a{:href => "/index"}
              %img{:src => "/images/logo.jpg", :alt => "Adhearsion"}
        .two-third
          .rel
            .abs.utility
              .icon-to-left
                %img{:src => "/images/icons/smallphone.png", :alt => ""}
              Give us a Call: 1-800-ADHEARSION or
              %a{:href => '/demo'} try out the demo app
              .clear
          .mainmenu
            %ul
              %li.active
                %a{:href => "/"}
                  %span Home
              %li
                %a{:href => "/docs"}
                  %span Documentation
              %li
                %a{:href => "/community"}
                  %span Community
              %li
                %a{:href => "/get-help"}
                  %span Get Help
              %li
                %a{:href => "/conference"}
                  %span Adhearsion Conf

        .clear
    .middle
      = yield
    .footer
      .footer-big
        .full-width
          .one-fourth.footer-panel
            %h3 Adhearsion
            %ul
              %li
                %a{:href => "/"} Home
              %li
                %a{:href => "/download"} Download
              %li
                %a{:href => "/faq"} FAQ
              %li
                %a{:href => "/roadmap"} Roadmap
              %li
                %a{:href => "/contributing"} Contributing
              %li
                %a{:href => "/contact"} Contact
              %li
                %a{:href => "/get-help"} Get Help
          .one-fourth.footer-panel
            %h3 Latest Tweets
            .tweet
          .one-fourth.footer-panel
            %h3 Documentation
            %ul
              %li
                %a{:href => "/docs"} Getting Started
              %li
                %a{:href => "/usage-guide"} Usage Guide
              %li
                %a{:href => "/examples"} Examples
              %li
                %a{:href => "/screencasts"} Screencasts
              %li
                %a{:href => "/wiki"} Wiki
              %li
                %a{:href => "/api"} API Docs
              %li
                %a{:href => "/community"} Community
          .one-fourth.footer-panel
            %h3 Get Social &amp; Such
            %ul.social
              %li
                %a.github{:href => "https://github.com/adhearsion/adhearsion"} Github
              %li.last
                %a.vimeo{:href => "http://vimeo.com/adhearsion"} Vimeo
              %li
                %a.twitter{:href => "http://twitter.com/adhearsion"} Twitter
              %li.last
                %a.slideshare{:href => "http://www.slideshare.net/tag/adhearsion"} Slideshare
              %li
                %a.google-groups{:href => "https://groups.google.com/group/adhearsion"} Mailing List
              %li.last
                %a.rss{:href => "#"} RSS
            .clear
            .rel.mt10

            .clear
          .clear
      .footer-small
        .full-width
          .one-half.left &copy; 2012 Adhearsion Foundation Inc. All rights reserved.
          .one-half.right Page rendered at #{Time.now}
          .clear

    :javascript
      Cufon.now();
      SyntaxHighlighter.all();
